.sticky{
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}

.pages{
    display: flex;
    align-items: center;
    gap: 7rem;
}

.logo{
    text-decoration: none;
    color: black;
}

.page-name{
    text-decoration: none;
    color: black;
}